@import "_minix.scss";
@import "common.scss";
@import "reset.scss";
html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}

header {
    width: 100%;
    height: pxTorem(40px);
    background: #f9f9f9;
    display: flex;
    box-sizing: border-box;
    padding: 0 pxTorem(15px);
    justify-content: space-between;
    align-items: center;
}

section {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    .box {
        width: 100%;
        height: pxTorem(50px);
        background: #d04034;
        display: flex;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #fff;
            font-size: pxTorem(14px);
        }
    }
    .swiper-container {
        width: 100%;
        height: pxTorem(180px);
        overflow: hidden;
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .nav {
        width: 100%;
        height: pxTorem(40px);
        display: flex;
        align-items: center;
        border-bottom: 2px solid #ccc;
        .box1 {
            width: 85%;
            border-right: 1px solid #ccc;
            height: 100%;
            display: flex;
            justify-content: space-between;
            p {
                span {
                    border: 1px solid red;
                    padding: pxTorem(2px) pxTorem(3px);
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                b {
                    color: #999;
                }
            }
        }
        p {
            margin-left: 2.5%;
        }
    }
    .dls {
        width: 100%;
        flex: 1;
        dl {
            width: 100%;
            height: pxTorem(80px);
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            dt {
                width: 20%;
                margin-right: pxTorem(20px);
                margin-left: pxTorem(20px);
                height: 90%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            dd {
                line-height: 2;
                b {
                    color: #fff;
                    margin-left: pxTorem(10px);
                    margin-right: pxTorem(10px);
                    background: #666;
                    padding: pxTorem(2px) pxTorem(3px);
                }
            }
        }
    }
}